.signup{
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
}
.signup .main-signup{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f3f4f6;
}
.signup .main-signup form{
    background-color: #fff;
    padding: 32px;
    border-radius: 4px;
    width: 384px;
}
.signup .main-signup form h2{
    font-size: 24px ;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 24px;
    text-align: center;
}
.signup .main-signup form div{
    margin-bottom: 16px;
}
.signup .main-signup form div label{
    display: block;
    margin-bottom: 9px;
}
.signup .main-signup form div input{
    width: 100%;
    border-width: 1px;
    border: 1px solid #d1d5db;
    padding: 8px;
    border-radius: 4px;
}
.signup .main-signup form button{
    width: 100%;
    background-color: #d1d5db;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
}
.signup .main-signup form button:hover{
    background-color: #3b82f6;
}